__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
*.pyc
*.log

data/raw/*.csv
data/raw/*.xlsx
!data/raw/energy-efficiency.xlsx
data/processed/*.csv
models/*.joblib
!models/energy_efficiency_heating_load_regressor.joblib

.env
.DS_Store
